<!-- notes/note_list.html -->
{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
{% include 'dashboard/dashboard_includes/css_links.html' %}
{% include 'dashboard/dashboard_includes/javascript_links.html' %}
<div id="main-wrapper">
    <!-- NAV HEADER -->
    {% include 'dashboard/dashboard_includes/dashboard__nav-header.html' %}
    <!-- CHAT BOX -->
    {% include 'dashboard/dashboard_includes/dashboard__chat-box.html' %}
    <!-- MAIN HEADER -->
    {% include 'dashboard/dashboard_includes/dashboard__header.html' %}
    <!-- SIDEBAR -->
    {% include 'dashboard/dashboard_includes/dashboard__sidebar.html' %}
    <div class="content-body">
       
        <div class="container-fluid">
  
            <div class="row">
                {% for note, responses in notes_with_responses %}
                <div class="col-xl-4 col-lg-12 col-sm-12">
                    <div class="card {% if request.user in note.tags.all %}tagged-note{% endif %}">
                        <div class="card-header border-0 pb-0">
                            <h2 class="card-title">{{ note.title }}</h2>
                            <small>{{ note.created_at|date:"D, d M Y H:i" }}</small>
                        </div>
                        <div class="card-body pb-0">
                            <p>{{ note.content }}</p>
                            <hr>
                            <ul style="padding-left: 15px;" class="list-group list-group-flush">
                                {% for response in responses %}
                                <li>
                                    <p>
                                        <span>
                                            <strong>
                                                {{ response.author.get_full_name }}:
                                            </strong>
                                                {{ response.created_at }}
                                        </span><br>
                                        {{ response.response }}
                                    </p>
                                    <p>
                                        <small></small>
                                    </p>
                                </li>
                                <hr>
                                {% empty %}
                                <li>No comments yet!</li>
                                {% endfor %}
                                <li class="list-group-item d-flex px-0 justify-content-between">
                                    <strong>Tagged</strong>
                                    {% for user in note.tags.all %}
                                    <span class="mb-0">
                                        {{ user.first_name }} {{ user.last_name }}{% if not forloop.last %}, {% endif %}
                                    </span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer pt-0 pb-0 text-center">
                            <div class="row">
                                {% if request.user == note.author %}
                                <div class="col-3 pt-3 pb-3 border-end">
                                    <a href="{% url 'BINA_Q_notes:note_edit' note.id %}">
                                        <i class="fas fa-edit" style="font-size: 24px; color: #FF6D4C;"></i>
                                    </a>
                                </div>
                                <div class="col-3 pt-3 pb-3">
                                    <a href="{% url 'BINA_Q_notes:note_delete' note.id %}">
                                        <i class="fas fa-trash-alt" style="font-size: 24px; color: #FF6D4C;"></i>
                                    </a>
                                </div>
                                {% endif %}
                                <div class="col-3 pt-3 pb-3">
                                    <a href="{% url 'BINA_Q_notes:note_detail' note.id %}">
                                        <i class="fas fa-reply" style="font-size: 24px; color: #FF6D4C;"></i>
                                    </a>
                                </div>
                                <div class="col-3 pt-3 pb-3">
                                    <a href="{% url 'BINA_Q_notes:note_detail' note.id %}">
                                        <i class="fas fa-eye" style="font-size: 24px; color: #FF6D4C;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <a class="btn btn-sm btn-primary" href="{% url 'BINA_Q_notes:note_create' %}">Create Note</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
