{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="index.html">
                                        <img style="height: 80px;" src="{% static 'images/bina_logo.png' %}" alt="">

                                    </a>
                                </div>
                                <h4 class="text-center mb-4">Change Your Password</h4>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label" for="id_new_password1">New Password:</label>
                                        <input class="form-control" type="password" name="new_password1" required=""
                                            id="id_new_password1">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="id_new_password2">Confirm New Password:</label>
                                        <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2">
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-block">Change password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if form.errors %}
<div>
    <ul>
        {% for field in form %}
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}