<!-- dashboard.html -->
{% extends 'dashboard_base.html' %}
{% load static %}


{% block content %}
{% include 'dashboard/dashboard_includes/css_links.html' %}
{% include 'dashboard/dashboard_includes/javascript_links.html' %}



<!--*******************
        Preloader start
    ********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--*******************
        Preloader end
    ********************-->

<!--**********************************
        Main wrapper start
    ***********************************-->
<div id="main-wrapper">

    <!-- NAV HEADER -->
    {% include 'dashboard/dashboard_includes/dashboard__nav-header.html' %}
    <!-- CHAT BOX -->
    {% include 'dashboard/dashboard_includes/dashboard__chat-box.html' %}

    <!-- HEADER -->
    {% include 'dashboard/dashboard_includes/dashboard__header.html' %}

    <!-- SIDEBAR -->
    {% include 'dashboard/dashboard_includes/dashboard__sidebar.html' %}

    <!--**********************************
            Content body start
        ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- INFO CARD AND IMAGE -->
                                {% include 'dashboard/dashboard_includes/dashboard__info-card.html' %}

                                <!-- DASHBOARD NOTES -->
                                {% include 'dashboard/dashboard_includes/messages.html' %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% include 'dashboard/dashboard_includes/dashboard__patients-list.html' %}
                {% include 'dashboard/dashboard_includes/dashboard__urgent-cases.html' %}
            </div>

        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Book Appointment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label class="col-form-label">Title:</label>
                                    <select class="form-control">
                                        <option>Miss</option>
                                        <option>Mr.</option>
                                        <option>Mrs.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" id="name1" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">Last Name:</label>
                                    <input type="text" class="form-control" id="name2" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label class="col-form-label">Date Of Appointment:</label>
                                    <input size="16" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">From:</label>
                                    <input size="16" value="12:00" class="form-control datetimepicker2">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">To:</label>
                                    <input size="16" type="time" value="12:00" class="form-control">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label class="col-form-label">Address :</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">Mobile No:</label>
                                    <input type="text" class="form-control" id="moblie1" placeholder="Mobile">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">Email Id:</label>
                                    <input type="email" class="form-control" id="email1" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">Consulting Doctor:</label>
                                    <select class="form-control">
                                        <option>Dr.HANI B BARADI</option>
                                        <option>Dr.NAJJIA N MAHMOUD</option>
                                        <option>Dr. SANKAR NAIDU ADUSUMILLI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="col-form-label">Injury/Condition:</label>
                                    <input type="text" class="form-control" id="fever" placeholder="fever">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label class="col-form-label">Note:</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
            Content body end
        ***********************************-->

    <!-- FOOTER -->
    {% include 'dashboard/dashboard__footer.html' %}

</div>
<!--**********************************
        Main wrapper end
    ***********************************-->

{% endblock %}