{% load static %}


 <div class="col-xl-6">
    <div class="card">
        <div class="card-header border-0 pb-0">

            <h4 class="card-title"><i style="padding-right: 20px; color: #FD6262;" class="fa-solid fa-circle"></i>Urgent Cases</h4>
        </div>
        <div class="card-body p-0">
            <div id="DZ_W_TimeLine" class="widget-timeline dz-scroll my-4 px-4 height370">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge info"></div>
                        <div class="timeline-panel text-muted" href="javascript:void(0);">
                            <span>Appointment Time: 11:30am</span>
                            <h6 class="mb-3 mt-2">Samantha Lee</h6>
                            <p class="mb-3 mt-2">Scheduled Call</p>
                            <a class="mb-2 mt-2" href=""><i class="fa-solid fa-phone"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-message"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-video"></i></a>
                            <p class="mb-0 mt-2"><small><strong>Phone Number: </strong>07894325678</small></p>
                            <p class="mb-0"><small><strong>Location: </strong>Oxford</small></p>
                            <p class="mb-0"><small><strong>Treatment Plan: </strong>Cognitive Behavioral
                                    Therapy</small></p>
                            <p class="mb-0"><small><strong>Current Medication: </strong>SSRIs</small></p>
                            <span class="mt-3">Appointment starts in: 45 minutes</span>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"></div>
                        <div class="timeline-panel text-muted" href="javascript:void(0);">
                            <span>Appointment Time: 11:30am</span>
                            <h6 class="mb-3 mt-2">Samantha Lee</h6>
                            <p class="mb-3 mt-2">Scheduled Call</p>
                            <a class="mb-2 mt-2" href=""><i class="fa-solid fa-phone"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-message"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-video"></i></a>
                            <p class="mb-0 mt-2"><small><strong>Phone Number: </strong>07894325678</small></p>
                            <p class="mb-0"><small><strong>Location: </strong>Oxford</small></p>
                            <p class="mb-0"><small><strong>Treatment Plan: </strong>Cognitive Behavioral
                                    Therapy</small></p>
                            <p class="mb-0"><small><strong>Current Medication: </strong>SSRIs</small></p>
                            <span class="mt-3">Appointment starts in: 45 minutes</span>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"></div>
                        <div class="timeline-panel text-muted" href="javascript:void(0);">
                            <span>Appointment Time: 11:30am</span>
                            <h6 class="mb-3 mt-2">Samantha Lee</h6>
                            <p class="mb-3 mt-2">Scheduled Call</p>
                            <a class="mb-2 mt-2" href=""><i class="fa-solid fa-phone"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-message"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-video"></i></a>
                            <p class="mb-0 mt-2"><small><strong>Phone Number: </strong>07894325678</small></p>
                            <p class="mb-0"><small><strong>Location: </strong>Oxford</small></p>
                            <p class="mb-0"><small><strong>Treatment Plan: </strong>Cognitive Behavioral
                                    Therapy</small></p>
                            <p class="mb-0"><small><strong>Current Medication: </strong>SSRIs</small></p>
                            <span class="mt-3">Appointment starts in: 45 minutes</span>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"></div>
                        <div class="timeline-panel text-muted" href="javascript:void(0);">
                            <span>Appointment Time: 11:30am</span>
                            <h6 class="mb-3 mt-2">Samantha Lee</h6>
                            <p class="mb-3 mt-2">Scheduled Call</p>
                            <a class="mb-2 mt-2" href=""><i class="fa-solid fa-phone"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-message"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-video"></i></a>
                            <p class="mb-0 mt-2"><small><strong>Phone Number: </strong>07894325678</small></p>
                            <p class="mb-0"><small><strong>Location: </strong>Oxford</small></p>
                            <p class="mb-0"><small><strong>Treatment Plan: </strong>Cognitive Behavioral
                                    Therapy</small></p>
                            <p class="mb-0"><small><strong>Current Medication: </strong>SSRIs</small></p>
                            <span class="mt-3">Appointment starts in: 45 minutes</span>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"></div>
                        <div class="timeline-panel text-muted" href="javascript:void(0);">
                            <span>Appointment Time: 11:30am</span>
                            <h6 class="mb-3 mt-2">Samantha Lee</h6>
                            <p class="mb-3 mt-2">Scheduled Call</p>
                            <a class="mb-2 mt-2" href=""><i class="fa-solid fa-phone"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-message"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-video"></i></a>
                            <p class="mb-0 mt-2"><small><strong>Phone Number: </strong>07894325678</small></p>
                            <p class="mb-0"><small><strong>Location: </strong>Oxford</small></p>
                            <p class="mb-0"><small><strong>Treatment Plan: </strong>Cognitive Behavioral
                                    Therapy</small></p>
                            <p class="mb-0"><small><strong>Current Medication: </strong>SSRIs</small></p>
                            <span class="mt-3">Appointment starts in: 45 minutes</span>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info"></div>
                        <div class="timeline-panel text-muted" href="javascript:void(0);">
                            <span>Appointment Time: 11:30am</span>
                            <h6 class="mb-3 mt-2">Samantha Lee</h6>
                            <p class="mb-3 mt-2">Scheduled Call</p>
                            <a class="mb-2 mt-2" href=""><i class="fa-solid fa-phone"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-message"></i></a>
                            <a class="mb-2 mt-2 px-1" href=""><i class="fa-solid fa-video"></i></a>
                            <p class="mb-0 mt-2"><small><strong>Phone Number: </strong>07894325678</small></p>
                            <p class="mb-0"><small><strong>Location: </strong>Oxford</small></p>
                            <p class="mb-0"><small><strong>Treatment Plan: </strong>Cognitive Behavioral
                                    Therapy</small></p>
                            <p class="mb-0"><small><strong>Current Medication: </strong>SSRIs</small></p>
                            <span class="mt-3">Appointment starts in: 45 minutes</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
 </div>

