<!-- templates/dashboard/dashboard_includes/messages.html -->
{% load static %}
<div class="col-xl-6 col-xxl-6 col-lg-6 notes-box">
    <div class="card border-0 p-0">
        <div class="card-header border-0">
            <h4 class="card-title">Notes
                <a class="mx-1 btn btn-outline-primary btn-xxs" href="{% url 'BINA_Q_notes:note_create' %}">
                    Add Note
                </a>
            </h4>
            <hr>
        </div>
        <div class="card-body p-0">
            <div id="DZ_W_Todo3" class="widget-media dz-scroll my-4 px-4 height200">
                <ul class="timeline">
                    {% for note in tagged_notes %}
                    <li>
                        <div class="timeline-panel">
                            <div class="media me-2 media-info">
                                <img width="30px" src="{% static 'images/bina_logo.png' %}">
                            </div>
                            <div class="media-body">
                                <h5 class="mb-1">
                                    <a href="{% url 'BINA_Q_notes:note_detail' note.id %}">{{ note.title }}</a>
                                </h5>
                                <p class="mb-1">{{ note.content }}</p>
                                {% if request.user == note.author %}
                                <a href="{% url 'BINA_Q_notes:note_edit' note.id %}" class="btn btn-xxs btn-warning">Edit</a>
                                <button class="btn btn-xxs btn-danger delete-btn" data-note-id="{{ note.id }}">Delete</button>
                                {% else %}
                                <a href="{% url 'BINA_Q_notes:note_detail' note.id %}" class="btn btn-xxs">
                                    <i class="fas fa-reply" style="font-size: 24px; color: #FD6262;"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% for note in authored_notes %}
                    <li>
                        <div class="timeline-panel">
                            <div class="media me-2 media-info">
                                <img width="30px" src="{% static 'images/bina_logo.png' %}">
                            </div>
                            <div class="media-body">
                                <h5 class="mb-1">
                                    <a href="{% url 'BINA_Q_notes:note_detail' note.id %}">{{ note.title }}</a>
                                    <small class="text-muted">{{ note.created_at|date:"D,d M Y H:i" }}</small>
                                </h5>
                                <p class="mb-1">{{ note.content }}</p>
                                <a href="{% url 'BINA_Q_notes:note_edit' note.id %}" class="btn btn-xxs btn-warning">Edit</a>
                                <button class="btn btn-xxs btn-danger delete-btn" data-note-id="{{ note.id }}">Delete</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
